{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
    <div class="catalog">
        <h3> Are you sure you want to delete {{item.name}}? </h3>
        <form action="#" method = 'post'>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit" type="submit">Delete Item</button>
                 <a class="btn btn-default" href="{{url_for('showCategory', category_name = item.category.name)}}">Cancel</a>
             </div>
        </form>
    </div>
</div>
{% endblock %}