<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('showCatalog')}}">Catalog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% if not request.path  == "/login" %}
                    {% if 'username' not in session %}
                        <a class="nav-item nav-link active" href="{{url_for('showLogin')}}">Click Here to Login </a>
                    {% else %}
                        <a class="nav-item nav-link active" href="{{url_for('disconnect')}}">Logout</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>