* {
    font-family: "Lato", sans-serif;
}

header {
  margin: 1em 0 .5em 0;
}

footer {
  padding-bottom: 10px;
}

.row {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

article {
  padding-bottom: 1em;
}

hr {
  border-top: 4px solid #7d97ad;
}

@media screen and (min-width:900px) {
  h1 {
      font-weight: 300;
      font-size: 3.5em;
      color: #2d3c49;
      margin-top: 0px;
      margin-bottom: 5px;
  }

  h2 {
      font-weight: 300;
      font-size: 2.5em;
      margin-top: 0px;
      margin-bottom: 5px;
      color: #7d97ad;
  }

  h3 {
      font-weight: 400;
      color: #2d3c49;
      margin-top: 2vh;
      margin-bottom: 1vh;
      font-size:2em;
  }
}

@media screen and (max-width:639px) {
  hr {
    margin-top: .5em;
    margin-bottom:  .6em;
    border-top-width: 2px;
  }

  h1 {
      font-weight: 300;
      font-size: 1.5em;
      color: #2d3c49;
      margin-top: 0px;
      margin-bottom: .1em;
  }

  h2 {
      font-weight: 300;
      font-size: 1.5em;
      margin-top: 0px;
      margin-bottom: 5px;
      color: #7d97ad;
  }

  h3 {
      font-weight: 600;
      color: #2d3c49;
      margin-top: .2em;
      margin-bottom: .2em;
      font-size: 1em;
  }
}


.logo {
  fill: #02b3e4;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}

header:hover svg#logo {
  fill: #7d97ad;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}

.featured {
  margin-top: 2em;
}

[class*="zocial-"]:before {
  color: #02b3e4;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #7d97ad;
}

div#social a {
  margin: 1em 0 0 0;
  font-size: 1.3em;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}

section p:last-of-type {
  margin: 0;
}

section {
  border-bottom: 1px solid #eee;
}

section:last-of-type {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: 2em;
}